extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
      .row 
        .col-12
          +box-head("Danh sách sản phẩm")
      .row 
        .col-4.mb-3 
          .product-item
            .inner-image 
              img(src="https://www.apple.com/vn/iphone/home/images/meta/iphone__ky2k6x5u6vue_og.png?202404150039", alt="iPhone 15")
            .inner-content 
              h3.inner-title iPhone 15
                .inner-price-new 1999$
                .inner-price-old 999$
                .inner-discount -20%
